@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #71C67D;
    --dark-color: #28392a;
    --black: #012B36;
    --background-color: #F9F9F6;
    --card-color: #ECECE5;
    --margin: 10px;
    --card-width: clamp(120px, 40%, 250px);
    --border-radius: 20px;
    --drop-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}

.side-scroll-container::-webkit-scrollbar {
    display: none;
}

/* ********************** | FONTS | ********************** */
/* ********************** | FONTS | ********************** */
@font-face {
    font-family: "PP Eiko";
    src: url("fonts/PP-eiko/PPEiko-Thin.otf");
    font-weight: 100 200;
}

@font-face {
    font-family: "PP Eiko";
    src: url("fonts/PP-eiko/PPEiko-Medium.otf");
    font-weight: 300 500;
}

@font-face {
    font-family: "PP Eiko";
    src: url("fonts/PP-eiko/PPEiko-Heavy.otf");
    font-weight: 600 900;
}

/* ********************** | GENERAL | ********************** */
/* ********************** | GENERAL | ********************** */
.phone-screen {
    width: 100vw;
    background-color: var(--background-color);
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

body {
    background-color: #242b29;
    color: var(--black);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
}

h1 {
    margin-top: 0;
    font-family: "PP Eiko";
    font-weight: 500;
    font-size: 2.5rem;
}

h2 {
    font-family: "PP Eiko";
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 0;
}

h3 {
    margin-top: 0;
    font-weight: 500;
    color: var(--primary-color);
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

h5 {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--black);
    margin-top: 0;
    margin-bottom: var(--margin);
}

h6 {
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--black);
    margin-top: 0;
    margin-bottom: var(--margin);
}

p {
    line-height: 1.125rem;
    font-weight: 400;
    font-size: 0.875rem;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

.btn,
.btn-secondary {
    font-size: 1.25rem;
    font-weight: 400;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0.75rem 0;
    border-radius: calc(var(--border-radius)/2);
    cursor: pointer;
}

.btn-secondary {
    background-color: transparent;
    border: var(--primary-color) 2px solid;
    color: var(--primary-color);
    box-sizing: border-box;
}




/* ********************** | CUSTOM CLASSES | ********************** */
/* ********************** | CUSTOM CLASSES | ********************** */

/* Til alignment */
.margin {
    margin: 0 var(--margin);
}

.margin-right {
    margin-right: var(--margin);
}

.margin-left {
    margin-left: var(--margin);
}

.margin-top {
    margin-top: var(--margin);
}

.margin-bottom {
    margin-bottom: var(--margin);
}

.small-margin-right {
    margin-right: calc(var(--margin)/2);
}

.small-margin-left {
    margin-left: calc(var(--margin)/2);
}

.small-margin-top {
    margin-top: calc(var(--margin)/2);
}

.small-margin-bottom {
    margin-bottom: calc(var(--margin)/2);
}

.no-margin {
    margin: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.padding {
    padding: 0 var(--margin);
}

.padding-around {
    padding: var(--margin);
}

.buffer {
    height: 40px;
}

.buffer-s {
    height: 20px;
}

.buffer-l {
    height: 60px;
}


/* Til flexboxes */
.flex {
    display: flex;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}


.sticky {
    position: sticky;
    top: 0;
    z-index: 0;
}

/* Til tekst */
.faded {
    opacity: .5;
}

.link-style-none {
    text-decoration: none;
    color: var(--black);
}

.dark-text {
    color: var(--black);
}

.light-text {
    opacity: 75%;
}

.center-text {
    text-align: center;
}

.white {
    color: white;
}

/* ********************** | BACKGROUND IMG | ********************** */
/* ********************** | BACKGROUND IMG | ********************** */
.background-blob {
    background-image: url(img/background-blob.svg);
    background-repeat: no-repeat;
}

/* ********************** | NAVIGATION | ********************** */
/* ********************** | NAVIGATION | ********************** */
nav {
    position: sticky;
    bottom: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    display: flex;
    padding: var(--margin);
    justify-content: space-between;
    box-shadow: 0px -2px 30px rgba(0, 0, 0, 0.05);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    z-index: 100;
}

.nav-item {
    text-align: center;
    opacity: 0.3;
    width: 30%;
}

.nav-item p {
    line-height: 1rem;
    margin: 0;
}

.active-nav {
    color: var(--dark-color);
    opacity: 1;
    background-image: url(img/blob1.svg);
    background-repeat: no-repeat;
    /* background-position-x: center; */
    background-position-x: 60%;
    background-position-y: 40%;
}

.active-nav p {
    font-weight: 600;
}

.back-arrow img {
    transform: scaleX(-1);
}

.course-icon {
    transform: translateY(2px);
}




.icon img,
.login-text img {
    border-radius: 0;
    padding-bottom: 5px;
}

header {
    justify-content: space-between;
    padding: var(--margin);
}

.section-title {
    margin: 10px var(--margin);
}

.overline {
    opacity: 0.5;
    font-size: 1rem;
    margin-bottom: 5px;
}


.side-scroll-container {
    display: flex;
    overflow-x: scroll;
    gap: var(--margin);
    padding: 20px var(--margin);
    margin-top: -20px;
}

.category-card {
    width: var(--card-width);
    aspect-ratio: 8 / 10;
    background-color: var(--card-color);
    flex-shrink: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
}

.category-card img {
    height: 60%;
    margin: 15% 10px 10% 10px;
}

.article-card {
    margin-bottom: 30px;
    aspect-ratio: 19 / 10;
    background-color: var(--card-color);
    flex-shrink: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.card-gradient {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(1, 43, 54, 0) 0%, #012B36 100%);
    padding: 0 15px;
}

.info-card {
    margin-bottom: 30px;
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
    overflow: hidden;
}

/*-------------------Flere hjælpemidler index page ------------------*/
.help {
    justify-content: space-between;
    background-color: var(--card-color);
    border-radius: 20px;
    margin: var(--margin);
    font-size: 16px;
}



/* ********************** | CHECK IN SECTION | ********************** */
/* ********************** | CHECK IN SECTION | ********************** */
#check-in-result {
    background-color: white;
    transition: height 500ms;
    height: 0;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--drop-shadow);
}

#check-in-content {
    box-sizing: border-box;
}

.gap {
    gap: 20px;
}

.smiley {
    width: 16%;
    margin-bottom: 10px;
    transition: opacity 400ms;
}

.inactive-smiley {
    opacity: 0.2;
}


/* ********************** | KURSER | ********************** */
/* ********************** | KURSER | ********************** */
.course-overview,
.add-to-do-section {
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    box-shadow: var(--drop-shadow);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: relative;
    top: 15px;
    z-index: 1;
}

.course-main {
    background-color: var(--card-color);
    box-shadow: var(--drop-shadow);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: relative;
    top: 15px;
    z-index: 1;
    padding-top: var(--margin);
}
.completed{
    filter: invert(77%) sepia(19%) saturate(908%) hue-rotate(77deg) brightness(90%) contrast(82%);
}
/* ********************** | VÆRKTØJER | ********************** */
/* ********************** | VÆRKTØJER | ********************** */
.tools-card {
    background-repeat: no-repeat;
    background-position: center;

}

.tc1 {
    background-size: 50%;
}

.tc2 {
    background-size: 65%;
}

.tc3 {
    background-size: 50%;
}

/* ********************** | TO-DO-LISTE | ********************** */
/* ********************** | TO-DO-LISTE | ********************** */
.to-do-list ul {
    padding: 0;
}

.to-do-list li {
    list-style: none;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 1.125rem;
    font-weight: 400;
    font-size: 0.875rem;
}

.add-to-do-section {}

.to-do-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url(img/icons/unchecked.svg);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.to-do-list li.checked {
    color: #aba8a8;
    text-decoration: line-through;
}

.to-do-list li.checked::before {
    background-image: url(img/icons/checked.svg);
}

ul li span {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    color: var(--black);
    text-align: center;
}

.radio-text {
    cursor: pointer;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--black);
    opacity: .3;
    margin-top: 0;
    margin-bottom: var(--margin);
    width: 33.33%;
    text-align: center;
}

.radio-button{
    position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#radio-high-priority:checked ~ .label-high, #radio-medium-priority:checked ~ .label-medium, #radio-low-priority:checked ~ .label-low{
    background-color: var(--primary-color);
    opacity: 1;
    color: var(--background-color);
    border-radius: 10px;
}

#new-task-input {
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--black);
    border: none;
    text-decoration: none;
    padding: 0.75rem 0;
    display: block;
    padding-left: var(--margin);
    width: calc(100% - var(--margin));
    border-radius: calc(var(--border-radius)/2);
    border: 2px solid transparent;
}

#new-task-input:focus {
    outline: none !important;
    border: 2px solid var(--primary-color);
}

.to-do-label{
    background-color: var(--primary-color);
    display: inline-block;
    transform: translateX(-10px);
    padding: 5px 20px 5px 10px;
    border-radius: 0 12px 12px 0;
}


@media only screen and (min-width: 480px) {
    body {
        height: 100vh;
    }

    .phone-screen {
        height: 95vh;
        width: unset;
        aspect-ratio: 9 / 19.5;
        background-color: var(--background-color);
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0);
        border-radius: var(--border-radius);
        overflow: scroll;

    }

    nav {
        border-radius: var(--border-radius);
    }
}


/* ********************** | ANIMATIONER | ********************** */
/* ********************** | ANIMATIONER | ********************** */

@keyframes load {
    60% {
        opacity: 1;
    }

    99.9% {
        transform: translateX(0%);
    }

    100% {
        /* opacity: 0;
        transform: translateX(100%); */
    }
}

@keyframes load-img {
    0% {
        opacity: 0;
        transform: translateY(50vh);
    }

    100% {
        opacity: 1;
        transform: translateY(30vh);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ********************** | Værktøjer undersider | ********************** */
/* ********************** | Værktøjer undersider | ********************** */
.task-container {
    border-radius: var(--border-radius);
    text-decoration: none;
    color: var(--black);
    background: var(--card-color);
    box-shadow: var(--drop-shadow);
    margin-bottom: 20px;
}

.task-container i {
    padding: 15px;
}

.task-container h3,
.task-container p {
    margin: 0;
    line-height: 0.2;
}

.dropdown {
    height: 40px;
    border-radius: calc(var(--border-radius) / 2);
    text-decoration: none;
    color: black;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: 0px -2px 30px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.dropdown p,
.dropdown i {
    margin-top: 0;
    height: 100%;
}

.dropdown .content p {
    margin: 0 100px 0 15px;
}

.dropdown .content2 p {
    margin: 0 165px 0 15px;
}

.dropdown .content3 p {
    margin: 0 130px 0 15px;
}

img {
    border-radius: var(--border-radius);
}