@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #71C67D;
    --dark-color: #28392a;
    --black: #012B36;
    --background-color: #F9F9F6;
    --card-color: #ECECE5;
    --margin: 15px;
    --card-width: clamp(120px, 40%, 250px);
    --border-radius: 20px;
    --drop-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}
.side-scroll-container::-webkit-scrollbar{
    display: none;
}


/* ********************** | GENERAL | ********************** */
/* ********************** | GENERAL | ********************** */
.phone-screen{
    width: 100vw;
    background-color: var(--background-color);
}
img{
    max-inline-size: 100%;
    block-size: auto;
}
body{
    background-color: rgb(255, 255, 255);
    color: var(--black);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
}
h1{
    margin-top: 0;
}
h2{
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 0;
}
h3{
    margin-top: 0;
    font-weight: 500;
    color: var(--primary-color);
}
h4{
    font-size: 1.25rem;
    font-weight: 400;
}
h5{
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--black);
    margin-top: 0;
    margin-bottom: var(--margin);
}
h6{
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--black);
    margin-top: 0;
    margin-bottom: var(--margin);
}
p{
    line-height: 1.125rem;
    font-weight: 400;
    font-size: 0.875rem;
}
.btn, .btn-secondary{
    font-size: 1.25rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0.75rem 0;
    border-radius: calc(var(--border-radius)/2);
    cursor: pointer;
}
.btn-secondary{
    background-color: transparent;
    border: var(--primary-color) 2px solid;
    color: var(--primary-color);
    box-sizing: border-box;
}



/* ********************** | CUSTOM CLASSES | ********************** */
/* ********************** | CUSTOM CLASSES | ********************** */

/* Til alignment */
.margin{
    margin: 0 var(--margin);
}
.margin-right{
    margin-right: var(--margin);
}
.margin-left{
    margin-left: var(--margin);
}
.margin-top{
    margin-top: var(--margin);
}
.margin-bottom{
    margin-bottom: var(--margin);
}
.small-margin-right{
    margin-right: calc(var(--margin)/2);
}
.small-margin-left{
    margin-left: calc(var(--margin)/2);
}
.small-margin-top{
    margin-top: calc(var(--margin)/2);
}
.small-margin-bottom{
    margin-bottom: calc(var(--margin)/2);
}
.no-margin{
    margin: 0;
}
.no-margin-bottom{
    margin-bottom: 0;
}
.no-margin-top{
    margin-top: 0;
}
.padding{
    padding: 0 var(--margin);
}
.padding-around{
    padding: var(--margin);
}
.buffer{
    height: 40px;
}
.buffer-s{
    height: 20px;
}


/* Til flexboxes */
.flex{
    display: flex;
}
.center-y{
    align-items: center;
}
.center-x{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}


.sticky{
    position: sticky;
    top: 0;
    z-index: 0;
}

/* Til tekst */
.faded{
    opacity: .5;
}
.link-style-none{
    text-decoration: none;
    color: var(--black);
}
.dark-text{
    color: var(--black);
}
.light-text{
    opacity: 75%;
}
.center-text{
    text-align: center;
}
.white{
    color: white;
}



/* ********************** | NAVIGATION | ********************** */
/* ********************** | NAVIGATION | ********************** */
nav{
    position: sticky;
    bottom: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    display: flex;
    padding: var(--margin);
    justify-content: space-between;
    box-shadow: 0px -2px 30px rgba(0, 0, 0, 0.05);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    z-index: 100;
}
.nav-item{
    text-align: center;
    opacity: 0.3;
    width: 30%;
}
.nav-item p{
    line-height: 1rem;
    margin: 0;
}
.active-nav{
    color: var(--dark-color);
    opacity: 1;
}

.back-arrow img{
    transform: scaleX(-1);
}




.icon{
    font-size: 2rem;
    font-style: normal;
}
header{
    justify-content: space-between;
    padding: var(--margin);
}
.section-title{
    margin: 10px var(--margin);
}
.overline{
    opacity: 0.5;
    font-size: 1rem;
    margin-bottom: 5px;
}


.side-scroll-container{
    display: flex;
    overflow-x: scroll;
    gap: var(--margin);
    padding: 0 var(--margin) var(--margin);
}

.category-card{
    width: var(--card-width);
    aspect-ratio: 8 / 10;
    background-color: var(--card-color);
    flex-shrink: 0;
    border-radius: var(--border-radius);
}

.category-card img{
    height: 70%;
}

.article-card{
    margin-bottom: 30px;
    aspect-ratio: 19 / 10;
    background-color: white;
    flex-shrink: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}
.card-gradient{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(1, 43, 54, 0) 0%, #012B36 100%);
    padding: 0 15px;
}

.info-card{
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);
    overflow: hidden;
}

/*-------------------Flere hjælpemidler index page ------------------*/
.help{
    justify-content: space-between;
    background-color: var(--card-color);
    border-radius: 20px;
    margin: var(--margin);
    font-size: 16px;
}



/* ********************** | CHECK IN SECTION | ********************** */
/* ********************** | CHECK IN SECTION | ********************** */
#check-in-result{
    background-color: white;
    transition: height 500ms;
    height: 0;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--drop-shadow);
}
#check-in-content{
    box-sizing: border-box;
}
.gap{
    gap: 20px;
}
.smiley{
    width: 18%;
    margin-bottom: 10px;
    transition: opacity 400ms;
}
.inactive-smiley{
    opacity: 0.2;
}


/* ********************** | KURSER | ********************** */
/* ********************** | KURSER | ********************** */
.course-overview{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: var(--drop-shadow);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: relative;
    top: 15px;
    z-index: 1;
}
.course-main{
    background-color: var(--card-color);
    box-shadow: var(--drop-shadow);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: relative;
    top: 15px;
    z-index: 1;
    padding-top: var(--margin);
}


/* ********************** | VÆRKTØJER | ********************** */
/* ********************** | VÆRKTØJER | ********************** */
.tools-card{
    background-repeat: no-repeat; 
    background-position: center; 
   
}

.tc1{
    background-size: 50%;
}

.tc2{
    background-size: 65%;
}

.tc3{
    background-size: 50%;
}


/* ********************** | LOGIN | ********************** */
/* ********************** | LOGIN | ********************** */
.login-container{
    justify-content: flex-end;
    display: flex;
    height: 90%;
}

.login-text{
    margin-top: 15vh;
    margin-bottom: auto;
}

.login-screen{
    position: relative;
}

/* Preloader */
.preloader{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--background-color);
    animation: load 3s forwards ease;
}

.preloader img{
    width: 80%;
    animation: load-img 2.5s forwards ease;
}


@media only screen and (min-width: 480px) {
    body{
        height: 100vh;
    }
    .phone-screen{
        height: 95vh;
        width: unset;
        aspect-ratio: 9 / 19.5;
        background-color: var(--background-color);
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.234);
        border-radius: var(--border-radius);
        overflow: scroll;

    }

    nav{
        border-radius: var(--border-radius);
    }
}


/* ********************** | ANIMATIONER | ********************** */
/* ********************** | ANIMATIONER | ********************** */

@keyframes load{
    60%{
        opacity: 1;
    }
    99.9%{
        transform: translateX(0%);
    }
    100%{
        opacity: 0;
        transform: translateX(100%);
    }
}
@keyframes load-img{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    75%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
    }
}